<ons-page class="center about-us" ng-controller="aboutUsController">
  <ons-row class="instructor">
    <ons-col size=33 class="photo">
      <ons-icon icon="user" size="5x"></ons-icon>
    </ons-col>
    <ons-col size=67 class="info">
    	<h2>Natalia Sanmartín Gil</h2>
    	<h3>Directora General</h3>
    	<ons-button ng-click="mailto('natalia.sanmartin@metododerose.org')"><ons-icon icon="envelope" size="lg"></ons-icon></ons-button>
    	<ons-button ng-click="call('15-5896-0834')"><ons-icon icon="phone" size="lg"></ons-icon></ons-button>
    	<ons-button ng-click="fb('natalia.sanmartin')"><ons-icon icon="facebook" size="lg"></ons-icon></ons-button>
    </ons-col>
  </ons-row>
  <ons-row class="instructor">
    <ons-col size=33 class="photo">
      <ons-icon icon="user" size="5x"></ons-icon>
    </ons-col>
    <ons-col size=67 class="info">
    	<h2>Luis Perichon</h2>
    	<h3>Instructor</h3>
    	<ons-button ng-click="mailto('luis.perichon@metododerose.org')"><ons-icon icon="envelope" size="lg"></ons-icon></ons-button>
    	<ons-button ng-click="call('15-3393-8907')"><ons-icon icon="phone" size="lg"></ons-icon></ons-button>
    	<ons-button ng-click="fb('lperichon')"><ons-icon icon="facebook" size="lg"></ons-icon></ons-button>
    </ons-col>
  </ons-row>
  <ons-row class="instructor">
    <ons-col size=33 class="photo">
      <ons-icon icon="user" size="5x"></ons-icon>
    </ons-col>
    <ons-col size=67 class="info">
    	<h2>Vênus Santos</h2>
    	<h3>Instructora</h3>
    	<ons-button ng-click="mailto('venus.santos@metododerose.org')"><ons-icon icon="envelope" size="lg"></ons-icon></ons-button>
    	<ons-button ng-click="call('15-3136-5999')"><ons-icon icon="phone" size="lg"></ons-icon></ons-button>
    	<ons-button ng-click="fb('venus.santos')"><ons-icon icon="facebook" size="lg"></ons-icon></ons-button>
    </ons-col>
  </ons-row>
</ons-page>