<ons-page class="center contact" ng-controller="contactController" ng-init="recipient = ''">
	<ons-select ng-model="recipient" style="margin: 8px 0; display: block; width: 100%">
        <option value="" disabled selected>Selecciona el destinatario</option>
	    <option value="martinez.ar@metododerose.org">Sede Martínez</option>
	    <option value="natalia.sanmartin@metododerose.org">Natalia Sanmartín</option>
	    <option value="luis.perichon@metododerose.org">Luis Perichon</option>
        <option value="venus.santos@metododerose.org">Vênus Santos</option>
    </ons-select>

    <ons-text-input 
        ng-model="subject"
        placeholder="Título" 
        style="margin: 8px 0; display: block; width: 100%">
    </ons-text-input>

    <ons-text-area 
    	ng-model="body" 
	    placeholder="Mensaje" 
	    style="width: 100%; height: 100px;">
  	</ons-text-area>

    <ons-button ng-click="submit(recipient, subject, body)"
        type="cta-large" 
        style="margin: 8px 0; display: block; width: 100%;">
        Enviar
    </ons-button>
	
</ons-page>