<ons-page class="center home" ng-controller="homeController">
    <div class="buttons">
	    <ons-button >
            <ons-icon icon="calendar" size="5x" ></ons-icon>
    	</ons-button>
    	<ons-button>
            <ons-icon icon="users" size="5x" ></ons-icon>
    	</ons-button>
    	
    	<ons-button>
            <ons-icon icon="book" size="5x" ></ons-icon>
    	</ons-button>
    	<ons-button>
            <ons-icon icon="bell-o" size="5x" ></ons-icon>
    	</ons-button>

    	<ons-button ng-click="ons.slidingMenu.setAbovePage('navigator2.html')">
            <ons-icon icon="envelope" size="5x" ></ons-icon>
    	</ons-button>
    	<ons-button ng-click="callSchool()">
            <ons-icon icon="phone" size="5x" ></ons-icon>
    	</ons-button>
    </div>
</ons-page>
